<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
</head>
<body>
    <h1>todo list</h1>

    <div th:if="${#lists.isEmpty(todos)}" id="not_todo">
        <h2>할 일이 존재하지 않습니다.</h2>
    </div>
    <div id="list_box">
        <div th:if="${!#lists.isEmpty(todos)}">
            <ul id="todo_list">
                <li th:each="todo : ${todos}">
                    <span th:text="${todo.title}">할 일</span>
                    <span th:text="${todo.completedText}">완료여부</span>
                    <span th:text="${todo.getFormattedCreatedAt}">등록 시간</span>
                    <button
                        type="button"
                        class="delete-btn"
                        th:attr="data-id=${todo.id}">삭제</button>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <span>할 일 추가</span><label>
        <input type="text" name="title" id="title"/>
        <button id="button" type="button">등록</button>
    </div>
</body>
<script>
    const todoBtn = document.querySelector("#button");
    const title = document.querySelector("#title");
    const deleteBtns = document.querySelectorAll(".delete-btn");
    const notTodo = document.querySelector("#not_todo");

    deleteBtns.forEach(btn => {
        btn.addEventListener("click", function(event){
            deleteTodo(event)
        });
    })



    todoBtn.addEventListener("click", async () =>{
        const payload = { title: title.value};
        try{
            const data = await postTodo(payload);
            renderTodoItem(data);
        } catch(error){
            console.error("에러 발생 : ",error);
        }
    })

    async function postTodo(payload){
        const response = await fetch("/api/todo",{
            method : "POST",
            headers : {
                'Content-Type' : 'application/json',
                'Accept' : 'application/json'
            },
            body: JSON.stringify(payload)
        });
        if(!response.ok) throw new Error("HTTP ERROR");

        return response.json();
    }

    function renderTodoItem(data){
        let ulTag = document.querySelector("#todo_list");
        notTodo.style.display = "none";
        if(!ulTag){
            const listBox = document.querySelector("#list_box");
            const divTag = document.createElement("div");
            ulTag = document.createElement("ul");
            ulTag.id = "todo_list";

            divTag.appendChild(ulTag);
            listBox.appendChild(divTag);
        }

        const liTag = document.createElement("li");

        liTag.appendChild(createSpan(data.title));
        liTag.appendChild(createSpan(data.completedText));
        liTag.appendChild(createSpan(data.formattedCreatedAt));
        liTag.appendChild(createDeleteButton(data.id));

        ulTag.appendChild(liTag);
    }

    function createSpan(text) {
        const span = document.createElement("span");
        span.innerText = text;
        return span;
    }

    function createDeleteButton(id) {
        const button = document.createElement("button");
        button.type = "button";
        button.dataset.id = id;
        button.className = "delete-btn";
        button.innerText = "삭제";
        button.addEventListener("click", deleteTodo); // 그대로 event 넘김
        return button;
    }


    async function deleteTodo(event){
        const id = event.target.dataset.id;
        const li = event.target.closest("li");
        const ul = li.closest("ul");

        if(confirm("삭제하시겠습니까?")){
            try{
                const response = await fetch(`/api/todo/${id}`,{
                    method : "DELETE"
                })

                if(!response.ok){
                    const errorBody = await response.json();
                    throw new Error(errorBody.message || "삭제 실패");
                }
                li.remove();
                if(!ul.hasChildNodes()){
                    const not_todo = document.querySelector("#not_todo");
                    not_todo.style.display = "block";
                }
            }catch(err){
                alert(err);
            }
        }
    }
</script>
</html>